<mat-toolbar class="header-toolbar">
  @if (showToggle()) {
  <button
    mat-icon-button
    type="button"
    (click)="toggleSidenav.emit()"
    aria-label="Mostrar barra de navegación"
  >
    <mat-icon>menu</mat-icon>
  </button>
  }
  <span>Gestor de Planificación</span>

  <span class="flex-auto"></span>

  <button
    mat-icon-button
    class="not-md:!hidden"
    type="button"
    (click)="toggleFullscreen()"
    matTooltip="Cambiar a pantalla completa"
    aria-label="Cambiar a pantalla completa"
  >
    <mat-icon>fullscreen</mat-icon>
  </button>
  <app-theme-toggle />
  @if (isAuthenticated()){
  <button
    mat-icon-button
    type="button"
    (click)="logout()"
    matTooltip="Cerrar sesión"
    aria-label="Cerrar sesión"
  >
    <mat-icon>exit_to_app</mat-icon></button
  >}
</mat-toolbar>
